/* main.css */
@import './base.css';

.loader-container{
display: none;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;
position: fixed;
background-color: rgba(0, 0, 0, 0.5);
}

.active{
    display: flex;
}

.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #000;
    border-bottom-color: transparent;
    animation: rotate 1s infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


header {
    background-color: #333;
    padding: 15px 0;
    color: #fff;
    position: sticky;
    top: 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.category {
    background-color: #fff;
    width: 25%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s;
}

.category:hover {
    transform: scale(1.05);
}

.product{
    background-color: #fff;
    width: 25%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    text-align: center;
    border-radius: 8px;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product h3 {
    margin-bottom: 10px;
}

.product span {
    display: block;
    font-weight: bold;
    color: #555;
    margin-top: 10px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
